[Desktop Entry]
Encoding=UTF-8
Name=QubitCoin
Comment=QubitCoin P2P Cryptocurrency
Comment[fr]=QubitCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=QuibtCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/qubitcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin128.png
MimeType=x-scheme-handler/bitcoin;
Categories=Office;
